@model IEnumerable<TravelHive.Models.User>
@{
    ViewBag.Title = "Index";
}





<table class="table table-dark">
    <thead>
        <tr>
            <td>first name</td>
            <td>last name</td>
            <td>email</td>
            <td>bio</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.first_name</td>
                <td>@item.last_name</td>
                <td>@item.email</td>
                <td>@item.bio</td>
            </tr>
        }
    </tbody>
</table>

